body {
  margin: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

/* -- ---------- Navbar ----------  -- */
#alfa {
  color: #fff;
  font-size: 40px;
  position: fixed;
  top: 90%;
  left: 95%;
}
nav {
  padding: 0 20px;
  height: 50px;
  background-color: #13284b;
  line-height: 50px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
}

nav a:hover {
  text-decoration-line: underline;
  transition: ease-in 0.3s;
}

nav i {
  font-size: 25px;
  color: #fff;
}

/* -- ---------- Intro ----------  -- */

#intro {
  padding: 50px;
  text-align: center;
}

#intro p {
  font-size: 30px;
}
#intro span {
  font-weight: bolder;
}

#intro img {
  width: 300px;
  height: 300px;
}

#intro i {
  margin-right: 20px;
  font-size: 30px;
  color: black;
  transition: all 0.3s;
}

#intro i:hover {
  transform: scale(1.5);
  color: #13284b;
}

/* -- ---------- Online Accreditations ----------  --*/

#education {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  margin: 200px 100px;
}

#edu-text {
  grid-column: 1/-1;
  justify-self: center;
}

.edu-img {
  width: 200px;
  justify-self: center;
  padding: 20px 20px 0 20px;
  box-shadow: 10px 10px 10px #67beeb;
  transition: all 0.5s;
}

.edu-img:hover {
  transform: scale(1.1);
}

#education span {
  font-size: 40px;
  color: #67beeb;
}

#education p {
  font-size: 20px;
  font-weight: 400;
}

#education img {
  width: 200px;
  height: 100px;
}

/* -- ---------- Projects ----------  -- */

#project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 50px 0;
  background-color: #13284b;
}

#proj-img img {
  width: 500px;
  height: 300px;
  padding: 50px;
}

#proj-info {
  text-align: center;
  padding: 50px;
}

#proj-info h1 {
  font-size: 40px;
  color: #fff;
}

#proj-info span {
  color: #67beeb;
}

#proj-info p {
  font-size: large;
  font-weight: 400;
  color: #fff;
}

/* ------------------------------------ */
#sub-proj {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  margin: 50px 100px;
  color: #fff;
}

#sub-proj div {
  width: 250px;
  background-color: #13284b;
  text-align: center;
  padding: 30px;
  border-radius: 60px;
  box-shadow: 10px 10px 10px #0f0f0f;
}

#sub-proj div:hover {
  width: 250px;
  color: #000;
  background-color: darkkhaki;
  transition: ease-in 0.5s;
  box-shadow: 10px 10px 10px sandybrown;
}

#sub-proj h2 {
  font-size: 25px;
}

#sub-proj i {
  font-size: 25px;
}

/* -- ---------- Contact ----------  -- */

#contact {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
}
#contact p {
  grid-column: 1/-1;
  font-size: 25px;
}

#c-img img {
  width: 300px;
  height: 300px;
  margin: 50px;
}

#c-form {
  padding: 50px;
}

#c-form h1 {
  text-decoration-line: underline;
}

#c-form input {
  display: block;
  height: 50px;
  width: 80%;
  border-style: none;
  padding-left: 20px;
  color: #fff;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: outset;
  background-color: #0f0f0f;
}

#c-form button {
  width: 25%;
  height: 50px;
  background-color: rebeccapurple;
  margin-top: 30px;
  color: #fff;
  border-radius: 25px;
  border-style: none;
  font-weight: 600;
  font-size: large;
}

/* ------------- Footer ------------ */

footer {
  height: 80px;
  padding: 30px 0;
  text-align: center;
  background-color: #13284b;
  color: #fff;
}

footer a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #67beeb;
}

footer a:hover {
  text-decoration-line: underline;
  color: #fff;
  transition: ease-in 0.5s;
}

footer p {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0;
}
footer i {
  color: #fff;
  transition: ease-in 0.3s;
}

footer i:hover {
  transform: scale(1.5);
}
